.checkout-page {
  width: 1600px;
  margin: auto;

  .checkout-text {
    display: flex;
    justify-content: center;

    h1 {
      font-weight: 900;
      width: 84%;
    }
  }

  .main {
    width: 100%;
    display: flex;
    justify-content: space-around;

    .checkout-container {
      width: 40%;
      padding: 0px;
    }

  }

}

// utility

.step-content {
  height: 320px;
  border-radius: 5px;
  margin-bottom: 64px;
}