.checkout-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}


// utility

.step-content {
  border-radius: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f0eaea;
  padding-bottom: 32px;
}